# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Vercel
.vercel/

# Typescript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.production
.env.development
.env.test
.env*.local
